name: PR to homebrew-core

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  pr-to-homebrew-core:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install git gh -y

    - name: Extract version
      id: vars
      run: echo "VERSION=$(echo '${GITHUB_REF##*/}' | sed 's/^v//')" >> $GITHUB_ENV

    - name: Generate formula only
      run: |
        chmod +x ./publish.sh
        ./publish.sh $VERSION generate-only
        mkdir -p core-formula
        mv icon_logo.rb core-formula/

    - name: PR to homebrew-core
      env:
        GH_PAT: ${{ secrets.GH_PAT }}
      run: |
        git config --global user.email "bot@zk3151463.com"
        git config --global user.name "icon_logo bot"

        git clone https://x-access-token:$GH_PAT@github.com/zk3151463/homebrew-core.git
        cd homebrew-core
        git remote add upstream https://github.com/Homebrew/homebrew-core.git
        git fetch upstream
        git checkout -b icon_logo-v$VERSION upstream/master

        cp ../core-formula/icon_logo.rb Formula/icon_logo.rb
        git add Formula/icon_logo.rb
        git commit -m "icon_logo: update to v$VERSION"
        git push origin icon_logo-v$VERSION

        gh auth login --with-token <<< "$GH_PAT"
        gh pr create \
          --title "icon_logo: update to v$VERSION" \
          --body "自动提交的 PR: 更新 icon_logo 到 v$VERSION" \
          --base master \
          --head zk3151463:icon_logo-v$VERSION \
          --repo Homebrew/homebrew-core
